{% extends "base.html" %}

{% block extrahead %}
{{ super() }}
<meta property="og:type" content="website" />
<meta property="og:url" content="https://chunithm.org/" />
<meta property="og:title" content="Chunithm English Guide" />
<meta property="og:description" content="An English guide to Chunithm, a rhythm-based arcade game by SEGA" />
<meta property="og:image" content="https://chunithm.org/assets/codex.png" />

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://chunithm.org/" />
<meta property="twitter:title" content="Chunithm English Guide" />
<meta property="twitter:description" content="An English guide to Chunithm, a rhythm-based arcade game by SEGA" />
<meta property="twitter:image" content="https://chunithm.org/assets/codex.png" />

<link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
{% endblock %}
